<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Taniiiiim Inc. is an SPA (speciality store retailer of private label apparel) company, which especially focus on "reasonable", "cool", "up-to-date" items and cordinations.
</br>
  Here's the benchmarks for our mission and vision:
  <a href="https://www.uniqlo.com/jp/">Uniqlo</a> <a href="https://www2.hm.com/ja_jp/index.html">H&M</a>
</br>
  (This homepage is for NON-PROFIT purpose. Just for training to be an engineer.)
</p>
