<footer class="footer">
  <small>
    Taniiiiim
    by <a href="https://www.lmi.ne.jp/">Link and Motivation Inc.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.lmi.ne.jp/">News</a></li>
      <% if logged_in? %>
        <li><%= link_to "Exit", "/users/#{current_user.id}/exit" %></li>
      <% end %>
    </ul>
  </nav>
</footer>
